.gameBoard {
  display: grid;
  margin: auto;
  width: 45%;
  aspect-ratio : 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #1e90ff;
  border-radius: 10px;
  align-items: center;
  box-shadow: 0px 0px 10px #1e90ff;
}


#cell {
  background-color: #1e90ff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: all 0.2s ease;
}

#cell.alive {
  background-color: #0077be;
}

#cell.dead {
  background-color: grey;
}

#cell:hover {
  background-color: #0077be;
  cursor: pointer;
}
