.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuChild {
  margin: 5px;
}

.button {
  background-color: #1e90ff;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease;
  &:hover {
      background-color: #0077be;
  }
}
